:global {

    html,
    button {
        cursor: url("./cursors/default.cur") 0 0, default;
    }

    input,
    textarea {
        cursor: url("./cursors/text.cur") 0 0, text;
    }

}

:local {

    .app {
        display: block;
    }

}
