:local {

    .devtools {
        position: fixed;
        display: block;

        &[data-x="true"] { right: 0; }

        &[data-x="false"] { left: 0; }

        &[data-y="true"] { top: 0; }

        &[data-y="false"] { bottom: 0; }

    }

}
