:local {

    .server {
        display: flex;
        height: 40px;
        line-height: 40px;
        border: solid 1px #000000;
        margin: 4px 0;
        padding: 0 8px;
        font-size: 16px;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
        
    }

}
